name: CI - Docker Build
 
on:
  push:
    branches:
      - main
 
jobs:
  build:
    runs-on: ubuntu-latest
 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
 
      - name: Build Docker image (CI check)
        run: |
          docker build -t my-python-app:ci .