name: Docker Build Workflow
 
on:
  push:
    branches:
      - main
    tags: 
     -"v"

permissions:
  contents: write
 
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
     - name: Checkout repository
       uses: actions/checkout@v4
     - name: Login to DockerHub
       run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
     - name: Build docker image
       run: docker build -t ${{secrtes.DOCKER_USERNAME}}/-my-python-app:${{github.ref_name}} \ -t ${{ secrets.DOCKER_USERNAME }}/my-python-app:latest .
     - name: push docker image
       run: docker push ${{secrtes.DOCKER_USERNAME}}/-my-python-app:${{github.ref_name}} docker push ${{ secrets.DOCKER_USERNAME }}/my-python-app:latest